.team-member {
    margin-bottom: 50px;
    text-align: center;
}

.team-member img {
    margin: 0 auto;
    border: 7px solid #fff;
}

.team-member h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
}

.team-member p {
    margin-top: 0;
}

ul.social-buttons {
    margin-bottom: 0;
}

ul.social-buttons li a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    outline: 0;
    color: #fff;
    background-color: #222;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
    background-color: #43A047; /*#fed136;*/
}

.my-block { 
    position:relative; 
    margin:0 auto; 
    height: 225px;
    width: 225px;
    display: block;
}

.my-block img { 
    left: 0; 
    position:absolute; 
    top: 0; 
}

.my-block img.additional-image {opacity:0;filter:alpha(opacity=0);}
.my-block:hover img.additional-image {opacity:1;filter:alpha(opacity=100);}
.my-block:hover img.main-image, .my-block img.main-image:hover {opacity:0;filter:alpha(opacity=0);}
	
img.crowdin {
	max-width: 50%; 
	height: auto;
	padding: 20px;
	border: 1px solid #ffffff;
}	
	
img.crowdin:hover {
	border: 1px solid #e7e7e7;
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.black-white {
 	-webkit-transition: all 1s ease;
 	-moz-transition: all 1s ease;
 	-o-transition: all 1s ease;
 	-ms-transition: all 1s ease;
  	transition: all 1s ease;
  	-webkit-filter: grayscale(100%);
}
.black-white:hover {
  	-webkit-filter: grayscale(0%);
}

.eff-18 {
  width: 300px;
  height: 300px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}
.eff-18 img {
  min-width: 100%;
  min-height: 100%;
}
.eff-18 .overlay {
  width: 45px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background: rgba(255,255,255,0.6);
  -moz-transition: all 0.15s linear 0s;
  -o-transition: all 0.15s linear 0s;
  -ms-transition: all 0.15s linear 0s;
  -webkit-transition: all 0.15s linear 0s;
  transition: all 0.15s linear 0s;
}
.eff-18 .overlay .icon {
  width: 35px;
  height: 23px;
  background: url('http://eisenpar.com/view-icon.png') 0 0 no-repeat;
  position: absolute;
  top: 46%;
  left: 6px;
}
.eff-18 .triangle-set {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}
.eff-18 .triangle {
  position: absolute;
  width: 0px;
  height: 0px;
  opacity: 0;
  border: 5px solid transparent;
  -moz-transition: opacity 0.15s linear 0s, border-width 0.35s linear 0.1s;
  -o-transition: opacity 0.15s linear 0s, border-width 0.35s linear 0.1s;
  -ms-transition: opacity 0.15s linear 0s, border-width 0.35s linear 0.1s;
  -webkit-transition: opacity 0.15s linear 0s, border-width 0.35s linear 0.1s;
  transition: opacity 0.15s linear 0s, border-width 0.35s linear 0.1s;
}
.eff-18 .triangle-1 {
  border-top: 5px solid rgba(255,255,255,0.6);
  top: 0px;
  left: 0px;
}
.eff-18 .triangle-2 {
  border-right: 5px solid rgba(255,255,255,0.6);
  top: 0px;
  right: 0px;
}
.eff-18 .triangle-3 {
  border-bottom: 5px solid rgba(255,255,255,0.6);
  bottom: 0px;
  right: 0px;
}
.eff-18 .triangle-4 {
  border-left: 5px solid rgba(255,255,255,0.6);
  bottom: 0px;
  left: 0px;
}
.eff-18 .caption {
  position: absolute;
  top: 100%;
  left: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
  color: white;
  -moz-transition: all 0.2s linear 0s;
  -o-transition: all 0.2s linear 0s;
  -ms-transition: all 0.2s linear 0s;
  -webkit-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}
.eff-18 .caption h4 {
  width: 80%;
  margin: 40px auto 0px auto;
  background: rgba(0,0,0,0.7);
  font-weight: 400;
  text-transform: uppercase;
  font-size: 22px;
  padding: 6px 0px;
  position: relative;
}
.eff-18 .caption h4:before {
  content: "";
  width: 0px;
  height: 0px;
  display: block;
  border: 20px solid transparent;
  border-top: 20px solid rgba(0,0,0,0.7);
  position: absolute;
  top: 100%;
  left: 42%;
}
.eff-18 .caption p {
  width: 100%;
  max-width: -webkit-calc(80% - 20px);
  max-width: -o-calc(80% - 20px);
  max-width: -moz-calc(80% - 20px);
  max-width: -ms-calc(80% - 20px);
  max-width: calc(80% - 20px);
  margin: 40px auto 0px auto;
  background: rgba(0,0,0,0.8);
  font-weight: 400;
  padding: 6px 10px;
  font-size: 14px;
}
.eff-18 .caption a {
  display: inline-block;
  margin: 30px auto 0px auto;
  background-color: #7F3B1B;
  color: inherit;
  padding: 7px 20px;
  font-size: 15px;
  box-shadow: inset 0px 0px 7px 1px rgba(0,0,0,0.2);
  border-radius: 5px;
  text-decoration: none;
}
.eff-18:hover .triangle {
  opacity: 1;
  border-width: 150px;
}
.eff-18:hover .overlay {
  right: -45px;
}
.eff-18:hover .overlay .icon {
  opacity: 0;
}
.eff-18:hover .caption {
  top: 0px;
  -moz-transition-delay: 0.35s
  -o-transition-delay: 0.35s
  -ms-transition-delay: 0.35s
  -webkit-transition-delay: 0.35s
  transition-delay: 0.35s
}                  
      
