.team-member {
    margin-bottom: 50px;
    text-align: center;
}

.team-member img {
    margin: 0 auto;
    border: 7px solid #fff;
}

.team-member h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
}

.team-member p {
    margin-top: 0;
}

ul.social-buttons {
    margin-bottom: 0;
}

ul.social-buttons li a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    outline: 0;
    color: #fff;
    background-color: #222;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
    background-color: #43A047; /*#fed136;*/
}

.my-block { 
    position:relative; 
    margin:0 auto; 
    /* height: 225px;
    width: 225px; */
    width: 100%;
    height: 100%;
    display: block;
}

.my-block img { 
    left: 0; 
    position:absolute; 
    top: 0; 
}

.my-block img.additional-image {opacity:0;filter:alpha(opacity=0);}
.my-block:hover img.additional-image {opacity:1;filter:alpha(opacity=100);}
.my-block:hover img.main-image, .my-block img.main-image:hover {opacity:0;filter:alpha(opacity=0);}
	
img.crowdin {
	max-width: 50%; 
	height: auto;
	padding: 20px;
	border: 1px solid #ffffff;
}	
	
img.crowdin:hover {
	border: 1px solid #e7e7e7;
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.black-white {
 	-webkit-transition: all 1s ease;
 	-moz-transition: all 1s ease;
 	-o-transition: all 1s ease;
 	-ms-transition: all 1s ease;
  	transition: all 1s ease;
  	-webkit-filter: grayscale(100%);
}
.black-white:hover {
  	-webkit-filter: grayscale(0%);
}

.eff-18 {
  overflow: hidden;
  cursor: pointer;
  position: relative;
}
.eff-18 img {
  	width: 100%;
  	height: 100%;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
}

.eff-18 .triangle-set {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}
.eff-18 .triangle {
  position: absolute;
  width: 25%;
  height: 25%;
  opacity: 0;
  border: 150px solid transparent;
  -moz-transition: opacity 0.15s linear 0s, border-width 0.35s linear 0.1s;
  -o-transition: opacity 0.15s linear 0s, border-width 0.35s linear 0.1s;
  -ms-transition: opacity 0.15s linear 0s, border-width 0.35s linear 0.1s;
  -webkit-transition: opacity 0.15s linear 0s, border-width 0.35s linear 0.1s;
  transition: opacity 0.15s linear 0s, border-width 0.35s linear 0.1s;
}
.eff-18 .triangle-1 {
  border-top: 150px solid rgba(255,255,255,0.5);
  top: 0px;
  left: 0px;
}
.eff-18 .triangle-2 {
  border-right: 150px solid rgba(255,255,255,0.5);
  top: 0px;
  right: 0px;
}
.eff-18 .triangle-3 {
  border-bottom: 150px solid rgba(255,255,255,0.5);
  bottom: 0px;
  right: 0px;
}
.eff-18 .triangle-4 {
  border-left: 150px solid rgba(255,255,255,0.5);
  bottom: 0px;
  left: 0px;
}

.eff-18:hover .triangle {
  opacity: 1;
  border-width: 0px;
}
      
.eff-18 .blur-effect {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 1;
  background-color: rgba(255,255,255,0.5);
}

.eff-18:hover .blur-effect {
  opacity: 0;
}
      
