    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About</h2>
              <br/>
              <!--
                <div class="container">
                <iframe src="//www.youtube.com/embed/yCOY82UdFrw" 
                frameborder="0" allowfullscreen class="video"></iframe>
                </div>
                -->
                <div class="brief">
		        <p align="justify">&quot;Smart Forecast&quot; - неимоверно простое в использовании бесплатное приложение 
		        с богатым функционалом. Со &quot;Smart Forecast&quot; Вы всегда будете осведомлены о погоде &quot;за окном&quot;, 
		        либо в любом населенном пункте мира, начиная от огромных мегалополисов и заканчивая тихими тибетскими деревушками.</p>
			<p align="justify">Приложение сообщит Вам о погодных условиях, а так же предоставит прогноз на сутки и неделю вперед, 
			построит график изменения температуры
			для Вашего &quot;текущего&quot; местоположения или выбранного населенного пункта.
			Ведение списка &quot;избранных&quot; городов, интеллектуальное добавление города всего по нескольким 
			буквам, богатый выбор настроек приложения, несомненно, осталяет только приятные эмоции при работе.</p>
			<p align="justify">Мы используем надежный и популярный источник данных, а в дальнейшем планируется интергация с 
			несколькими погодными сервисами.
			Приложение постоянно совершенствуется, ваши отзывы помогут сделать &quot;Smart Forecast&quot; лучшим метео-приложением.</p>
			<p> </p>
                <div/>
                
             
		<style>
			.video {
			  width: 100%;
			  position: relative;
			  padding-top: 56.25%;
			}
			.video iframe, .video object, .video embed{
			  position: absolute;
			  top: 0;
			  left: 0;
			  width: 100%;
			  height: 100%;
			}
		</style>
		
		
		<div class="video">
		    <iframe src="https://www.youtube.com/embed/WA4Y93X6yL8?rel=0" frameborder="0" allowfullscreen></iframe>
		</div>
                
                <!--
                <div class="embed-video">
	                <div class="videoWrapper">
		                <iframe width="560" height="315" src="https://www.youtube.com/embed/WA4Y93X6yL8?rel=0" 
		                frameborder="0" allowfullscreen></iframe>
	                </div>
                </div>
                -->
                
                <!--
                VIDEO1
                <div class="video">
                <figure>
                    <iframe width="640" height="480" src="//www.youtube.com/embed/prFohBWIdQg" frameborder="0" allowfullscreen></iframe>
                </figure>
                </div>
                
                VIDEO2
                <iframe width="720" height="405" src="https://www.youtube.com/embed/WA4Y93X6yL8" frameborder="0" allowfullscreen></iframe>
                -->
                
                <!--
                <h2><iframe width="560" height="315" src="https://www.youtube.com/embed/WA4Y93X6yL8?autoplay=1" frameborder="0" allowfullscreen></iframe></h2>
                -->
                <br/>
              </div>
        </div>
    </section>
