    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>Promo video</h2>
              <br/>
              <!--
                <div class="container">
                <iframe src="//www.youtube.com/embed/yCOY82UdFrw" 
                frameborder="0" allowfullscreen class="video"></iframe>
                </div>
                -->
                
                <div class="embed-video">

                <div class="videoWrapper">

                <iframe width="560" height="315" src="https://www.youtube.com/embed/WA4Y93X6yL8?rel=0" 
                frameborder="0" allowfullscreen></iframe>

                </div>

                </div>
                
                <!--
                VIDEO1
                <div class="video">
                <figure>
                    <iframe width="640" height="480" src="//www.youtube.com/embed/prFohBWIdQg" frameborder="0" allowfullscreen></iframe>
                </figure>
                </div>
                
                VIDEO2
                <iframe width="720" height="405" src="https://www.youtube.com/embed/WA4Y93X6yL8" frameborder="0" allowfullscreen></iframe>
                -->
                
                <!--
                <h2><iframe width="560" height="315" src="https://www.youtube.com/embed/WA4Y93X6yL8?autoplay=1" frameborder="0" allowfullscreen></iframe></h2>
                -->
                <br/>
              </div>
        </div>
    </section>
