<section id="contact">
	<div class="banner">
		<div class="container">

			<div class="row">
				<div style="float:left;padding-right:10px;">
					<h2>Ищите нас здесь:</h2>
				</div>
				<div style="float:center;">
					<ul class="list-inline banner-social-buttons" align="center">
						{% for social in site.social %}
						<li>
							<a href="{{ social.url }}" class="btn btn-default btn-lg"><i class="fa fa-{{ social.title }} fa-fw"></i> <span class="network-name">{{ social.txt }}</span></a>
						</li>
						{% endfor %}
					</ul>
				</div>
			</div>

		</div>
		<!-- /.container -->

	</div>
</section>
<!-- /.banner -->
