<section id="services">
<!-- Page Content -->
<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <br/><br/>
        <h2>Развитие проекта</h2>
        <br/>
        <div class="brief">
          <p class="lead" align="justify">&quot;Smart Forecast&quot; это проект с открытым исходным кодом. 
          Он был запущен для изучения последних технологий в разработке мобильных приложений под OS Android. 
          При огромной конкуренции в категории "Погода", мы не претендовали на большое количество пользователей, 
          работали на голом энтузиазме и радовались каждому новому скачиванию. Однако, день за днем количество 
          пользователей росло, и на данный момент мы имеем довольно обширную аудиторию, о которой изначально 
          даже не мечтали.</p>
          <br/>	
        </div>
        <br/>
      </div>
</div>
{% for post in site.posts reversed %}
  {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
    {% if thecycle == 'odd' %}
    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">{{ post.title }}</h2>
                    <div class="lead">{{ post.content }}</div>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="img/services/{{ post.img }}" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
    {% else %}

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">{{ post.title }}</h2>
                    <div class="lead">{{ post.content }}</div>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                  <img class="img-responsive" src="img/services/{{ post.img }}" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->
    {% endif %}
{% endfor %}
</section>
