<section id="team" class="container content-section text-center">
    <br/><br/>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Команда</h2>
            <br/>
<!--            <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="team-member">
                    <div class="effect eff-18"> 
                      <img src="img/team/developer.png" class="img-responsive img-circle" alt="Effect #18" /> 
                      <div class="triangle-set"> 
                        <div class="triangle triangle-1"></div> 
                        <div class="triangle triangle-2"></div> 
                        <div class="triangle triangle-3"></div> 
                        <div class="triangle triangle-4"></div> 
                      </div> 
                      <div class="blur-effect"></div>
                    </div> 
                <h4>Александр Лиховидов</h4>
                <p class="text-muted">Technical consultant</p>
                <ul class="list-inline social-buttons">
                    <li><a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="team-member">
                <div class="effect eff-18">
                  <img src="img/team/developer.png" class="img-responsive img-circle" alt="Effect #18" />
                  <div class="triangle-set"> 
                    <div class="triangle triangle-1"></div> 
                    <div class="triangle triangle-2"></div> 
                    <div class="triangle triangle-3"></div> 
                    <div class="triangle triangle-4"></div> 
                  </div> 
                  <div class="blur-effect"></div>
                </div> 
                <h4>Роман Новоселов</h4>
                <p class="text-muted">Project manager, Architect, PR</p>
                <ul class="list-inline social-buttons">
                    <li><a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="team-member">
                <div class="my-block effect eff-18"> 
                  <img src="img/team/minime.png" class="main-image img-responsive img-circle" alt="Effect #18" />
                  <img src="img/team/minime.gif" class="additional-image img-responsive img-circle" alt="Effect #18" />
                  <div class="triangle-set"> 
                    <div class="triangle triangle-1"></div> 
                    <div class="triangle triangle-2"></div>
                    <div class="triangle triangle-3"></div> 
                    <div class="triangle triangle-4"></div> 
                  </div> 
                  <div class="blur-effect"></div>
                </div>
                <h4>Тимофей Коротков</h4>
                <p class="text-muted">UI designer, Developer</p>
                <ul class="list-inline social-buttons">
                    <li><a href="https://www.copypastestd.xyz"><i class="fa fa-globe"></i></a>
                    </li>
                    <li><a href="https://github.com/copypastestd"><i class="fa fa-github"></i></a>
                    </li>
                    <li><a href="https://www.linkedin.com/in/copypastestd"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="team-member">
                    <div class="effect eff-18"> 
                      <img src="img/team/developer.png" class="img-responsive img-circle" alt="Effect #18" /> 
                      <div class="triangle-set"> 
                        <div class="triangle triangle-1"></div> 
                        <div class="triangle triangle-2"></div> 
                        <div class="triangle triangle-3"></div> 
                        <div class="triangle triangle-4"></div> 
                      </div> 
                      <div class="blur-effect"></div>
                    </div> 
                <h4>Александр Перфильев</h4>
                <p class="text-muted">UI designer, Developer</p>
                <ul class="list-inline social-buttons">
                    <li><a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="team-member">
                    <div class="effect eff-18"> 
                      <img src="img/team/developer.png" class="img-responsive img-circle" alt="Effect #18" /> 
                      <div class="triangle-set"> 
                        <div class="triangle triangle-1"></div> 
                        <div class="triangle triangle-2"></div> 
                        <div class="triangle triangle-3"></div> 
                        <div class="triangle triangle-4"></div> 
                      </div> 
                      <div class="blur-effect"></div>
                    </div> 
                <h4>Эрдэни Эрдынеев</h4>
                <p class="text-muted">UX designer, Developer</p>
                <ul class="list-inline social-buttons">
                    <li><a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="team-member">
                    <div class="effect eff-18"> 
                      <img src="img/team/developer.png" class="img-responsive img-circle" alt="Effect #18" /> 
                      <div class="triangle-set"> 
                        <div class="triangle triangle-1"></div> 
                        <div class="triangle triangle-2"></div> 
                        <div class="triangle triangle-3"></div> 
                        <div class="triangle triangle-4"></div> 
                      </div> 
                      <div class="blur-effect"></div>
                    </div> 
                <h4>Максим Куликов</h4>
                <p class="text-muted">Product owner, Developer</p>
                <ul class="list-inline social-buttons">
                    <li><a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="team-member">
                    <div class="effect eff-18"> 
                      <img src="img/team/developer.png" class="img-responsive img-circle" alt="Effect #18" /> 
                      <div class="triangle-set"> 
                        <div class="triangle triangle-1"></div> 
                        <div class="triangle triangle-2"></div> 
                        <div class="triangle triangle-3"></div> 
                        <div class="triangle triangle-4"></div> 
                      </div> 
                      <div class="blur-effect"></div>
                    </div> 
                <h4>Айрат Хайруллин</h4>
                <p class="text-muted">Translator</p>
                <ul class="list-inline social-buttons">
                    <li><a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="team-member">
                    <div class="effect eff-18"> 
                      <img src="img/team/developer.png" class="img-responsive img-circle" alt="Effect #18" /> 
                      <div class="triangle-set"> 
                        <div class="triangle triangle-1"></div> 
                        <div class="triangle triangle-2"></div> 
                        <div class="triangle triangle-3"></div> 
                        <div class="triangle triangle-4"></div> 
                      </div> 
                      <div class="blur-effect"></div>
                    </div> 
                <h4>Дмитрий Рябушкин</h4>
                <p class="text-muted">Translator</p>
                <ul class="list-inline social-buttons">
                    <li><a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
        <!--        
            <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
        -->
        <br/><br/>
        </div>
    </div>
    
</section>

