<section id="translate" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <br/><br/>
            <h2>Обращение к пользователям</h2>
            <br/>
            <div class="brief">
        <p class="lead" align="justify">&quot;Smart Forecast&quot; это проект с открытым исходным кодом. 
        Он был запущен для изучения последних технологий в разработке мобильных приложений под OS Android. 
        При огромной конкуренции в категории "Погода", мы не претендовали на большое количество пользователей, 
        работали на голом энтузиазме и радовались каждому новому скачиванию. Однако, день за днем количество 
        пользователей росло, и на данный момент мы имеем довольно обширную аудиторию, о которой изначально 
        даже не мечтали.</p>
	<p class="lead" align="justify">Среди пользователей приложения есть представители всех частей света
	(за исключением Антарктиды) - стран Европейского союза, Латинской Америки, Российской Федерации, 
	США, стран Азии и Африки. Мы просим у Вас помощь в локализации приложения. Нам интересны переводы 
	на любые языки: английский, итальянский, испанский, белорусский, польский, 
	иврит, арабский, китайский, фрацузский, португальский и т.д.</p>
	<p class="lead" align="justify">Для облегчения работы переводчиков мы решили использовать площадку 
	&quot;Crowdin&quot;. Вы можете помочь нам, как в полном переводе приложения на отсутствующий язык, 
	так и в исправлении неточностей или ошибок.</p>
	<p class="lead" align="justify">В связи с тем, что проект не коммерческий, мы не можем предложить 
	вам материальное поощрение. Помогите сделать нам &quot;Smart Forecast&quot; не только удобным 
	и многофункциональным сервисов, но и мультиязычным.</p>
	
	<a href="https://crowdin.com/project/smart-forecast">
  		<img src="img/crowdin.png" style="max-width: 50%; height: auto;"/>
	</a>
	
	<!-- <a href="https://crowdin.com/project/smart-forecast"> </a> -->
	<br/>	
            </div>
            
            <br/>
          </div>
    </div>
</section>
