<!DOCTYPE html>
<html>
	{% include head.html %}
	
	<!-- Yandex.Metrika counter -->
	<script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter37364625 = new Ya.Metrika({ id:37364625, clickmap:true, trackLinks:true, accurateTrackBounce:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/37364625" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
	<!-- /Yandex.Metrika counter -->
	
	<link rel="icon" type="image/png" href="img/favicon.ico">
	
	<body>
		{% include header.html %}
		{% include about.html %}
		{% include translate.html %}
		{% include page_content.html %}
		{% include footerreleases.html %}
		{% include contact.html %}
		{% include footer.html %}
		{% include js.html %}
	</body>
</html>
